.page-wrapper {
  width: 100%;
}
* {
  box-sizing: border-box;
}
.page-wrapper {
  overflow-x: hidden;
}
.wrapper {
  padding: 0 133px;
  margin: 0 auto;
  width: 100%;
  max-width: 1366px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-inner-wrapper {
  /* max-width: 1366px; */
  width: 100%;
  margin: 0 auto;
}
.header-wrapper {
  padding: 39px 133px 0;
  margin: 0 auto 66px;
  font-family: "Jost";
  display: flex;

  width: 100%;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  text-transform: none;
  color: #000000;
}
.header-logo-container span {
  font-size: 24px;
  margin-left: 11px;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-navication-wrapper {
  max-width: 526px;
  width: 100%;
}
.header-navication-box {
  display: flex;
  width: 100%;

  justify-content: space-between;
}

.main-section-title-container {
  display: flex;
  justify-content: space-between;
}
.main-section {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding-bottom: 97px;
}
.main-section-sub-title {
  font-family: "Jost";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  margin-top: 12px;
  max-width: 484px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.5);
}
.main-section-title {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 55px;
  max-width: 524px;
  color: #000000;
}
.main-section-title span {
  color: #048010;
}

.main-title-container {
  margin-top: 103px;
  margin-left: 113px;
}
.main-title-container .title {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 70px;
}
.main-title-container .sub-title {
  font-family: "Jost";
  font-size: 24px;
  margin-top: 30px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.5);
}
.main-title-btn {
  background: #048010;
  border-radius: 50px;
  width: 215px;
  margin-top: 38px;
  height: 50px;
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger-menu {
  display: none;
}
.burger-menu-close {
  width: 37px;
  height: 37px;
  position: relative;
}
.burger-menu-close .first {
  width: 100%;
  height: 3px;
  background: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.burger-menu-container div {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 36px;
  text-align: center;
}
.burger-menu-social-list {
  display: flex;
  max-width: 200px;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
}
.navigation-list li {
  font-family: "Jost";
  font-size: 24px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 20px;
}
.burger-menu-close .second {
  width: 100%;
  height: 3px;
  background: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.burger-menu-wrapper {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: #ffffff;
}
.burger-menu-wrapper .burger-menu-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-footer-section-wrapper {
  width: 100%;
  height: 771px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 136px;
  margin: 0 auto;
}
.main-footer-description {
  font-family: "Tenor Sans";
  font-style: normal;
  max-width: 804px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #1c1c1c;
  margin-bottom: 46px;
}
.main-footer-btn {
  width: 215px;
  height: 50px;
  background: #048010;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
.footer-logo {
  display: flex;
  align-items: center;
}
.footer-logo span {
  margin-left: 11px;
  font-family: "Jost";
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
}
.footer-inner {
  height: 114px;
  display: flex;
  justify-content: space-between;
  padding: 0 113px;
  align-items: center;
  background: #1c1c1c;
}
.footer-navigation-wrapper {
  max-width: 180px;
  width: 100%;
}
.footer-navigation-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-section-content-left {
  background: #048010;
  max-width: 412px;
  font-family: "Jost";
  padding: 38px 61px 46px 46px;
  position: absolute;
  top: 95px;
  left: 131px;
}
.main-section-content-left h6 {
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  text-transform: uppercase;

  color: #ffffff;
}
.main-section-content-left p {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 24px;
}
.main-section-content-box {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.contact-us-btn {
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 50px;
  width: 215px;
  height: 50px;
  font-family: "Tenor Sans";
  font-size: 18px;
  line-height: 21px;
  margin-top: 34px;
  text-align: center;
  color: #048010;
}
.main-section-content-right {
  width: 100%;
  max-width: 962px;
  height: 560px;
  margin-left: auto;
}
.main-section-content-right img {
  width: 100%;
  height: 100%;
}

/* about-us-section  start */
.about-us-section {
  margin: 0 auto;
  max-width: 805px;
  font-family: "Tenor Sans";
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #1c1c1c;
  padding-bottom: 75px;
}
.about-us-section img {
  margin: 0 auto 31px;
}

/* about-us-section  end */

/* selection-cards-wrapper start*/

h2 {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #1c1c1c;
}
.selection-cards-wrapper {
  width: 100%;
  display: flex;
  margin-top: 44px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 98px;
}
.selection-cards-wrapper .card-box {
  width: 265px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(171, 171, 171, 0.25);
  border-radius: 10px;
  font-family: "Jost";
  padding: 44px 31px 33px;
  color: #1c1c1c;
  opacity: 0.8;
}
.card-box h6 {
  font-weight: 600;
  margin-top: 11px;
  font-size: 20px;
  line-height: 29px;
}
.card-box p {
  margin-top: 3px;
  font-size: 18px;
  line-height: 26px;
}
/* selection-cards-wrapper end*/

/* how-it-works-section start  */
.how-it-work-inner {
  background: #f9f8f9;
  padding: 85px 0 0 0;

  width: 100%;
  font-family: "Jost";
}

.how-it-work-inner .sub-title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  max-width: 619px;
  margin: 11px auto 59px;
  color: rgba(0, 0, 0, 0.5);
}
.levels-container {
  width: 100%;
  padding: 0 138px 0 145px;
}
.levels-container-inner {
  position: relative;
  justify-content: space-between;
  width: 100%;
  display: flex;
}
.levels-container-inner::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  top: 50%;
  background: #048010;
  transform: translate(0, -50%);
  z-index: 0;
}

.levels-container.first .first {
  background: #f9f8f9;
  color: #048010;
}
.levels-container.second .first,
.levels-container.second .second {
  background: #f9f8f9;
  color: #048010;
}
.levels-container.third .first,
.levels-container.third .second,
.levels-container.third .third {
  background: #f9f8f9;
  color: #048010;
}
.level-item {
  position: relative;
  z-index: 1;
  background: #048010;
  width: 72px;
  height: 72px;
  cursor: pointer;
  font-family: "Tenor Sans";
  font-size: 30px;
  border: 2px solid #048010;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  transition: all ease 1s;
  border-radius: 50%;
}

.tab-wrapper {
  font-family: "Jost";
  padding-top: 50px;
  width: 100%;
}
.tab-wrapper-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 138px 0 145px;
}
.tap-title {
  max-width: 280px;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
}
.tap-info-box {
  max-width: 511px;
  font-size: 16px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.5);
}
.tap-info-box li {
  margin-bottom: 25px;
  position: relative;
}
.tap-info-box li::before {
  content: "";
  width: 6px;
  position: absolute;
  height: 6px;
  background: #048010;
  border-radius: 50%;
  left: -19px;
  top: 6px;
}
.tab-wrapper {
  display: none;
  min-width: 100%;
}

.how-it-works-content {
  padding: 89px 145px 91px;
  font-family: "Jost";
  font-weight: bold;
  min-width: 100%;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  background: #048010;
}
/* how-it-works-section end  */

/* technical-park-section start */
.technical-park-inner {
  padding: 98px 0;
  display: flex;
  justify-content: space-between;
}
.technical-park-left {
  font-family: "Jost";
  max-width: 476px;
}
.technical-park-left h6 {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 23px;
  color: #048010;
}

.technical-park-left h2 {
  text-align: left;
}
.technical-items-box {
  max-height: 360px;
  overflow-x: auto;
  margin-top: 37px;
  padding-right: 24px;
}
.technical-item {
  padding: 24px 21px 19px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  opacity: 0.8;
  cursor: pointer;
  color: #1c1c1c;
  transition: all ease 0.5s;
}
.technical-item.active {
  background: #048010;
  opacity: 1;
  color: #ffffff;
}
.technical-park-right {
  max-width: 672px;
  width: 100%;
  height: 553px;
  display: flex;
  overflow: hidden;
}
.technical-image-item {
  min-width: 100%;
  display: none;
}
.technical-image-item img {
  height: 100%;
  width: 100%;
}
/* technical section end */

/* contact us start */
.sub-title {
  font-family: "Jost";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.contact-us-section {
  width: 100%;
  padding-top: 86px;
  background: #f8f7f9;
}
.contact-us-form {
  max-width: 699px;
  width: 100%;
  margin: 29px auto 0;
  padding-bottom: 96px;
}
.contact-us-field {
  margin-bottom: 10px;
}
.contact-us-field input {
  width: 100%;
  background: #ffffff;
  border: 1px solid #b8c0c6;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 18px 20px 16px 23px;
  color: #048010;
  font-weight: 600;
  height: 61px;
}
.contact-us-field textarea {
  width: 100%;
  background: #ffffff;
  border: 1px solid #b8c0c6;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 18px 20px 16px 23px;
  color: #048010;
  font-weight: 600;
  resize: none;
  height: 150px;
}
.contact-us-field input:focus,
.contact-us-field textarea:focus {
  border: 1px solid #048010;
}
.contact-us-field label {
  font-family: "Jost";
  font-size: 18px;
  line-height: 150%;
  text-transform: capitalize;
  color: #000000;
  display: block;
  margin-bottom: 10px;
}
.submit-btn {
  background: #048010;
  border-radius: 50px;
  width: 247px;
  height: 60px;
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin: 30px auto 0;
  border: none;
}

@media screen and (max-width: 1300px) {
  .header-wrapper {
    padding: 30px 40px 0;
    margin: 0 auto 64px;
  }
  .main-section-title-container {
    flex-direction: column;
  }
  .tab-wrapper-inner {
    padding: 0 138px 0 145px;
  }
  .wrapper {
    padding: 0 40px;
  }
  .main-section-title {
    font-size: 45px;
    line-height: 53px;
    max-width: 753px;
  }
  .main-section-sub-title {
    font-size: 18px;
    line-height: 26px;
    max-width: 592px;
    margin-top: 38px;
    margin-bottom: 32px;
  }
  .main-section-content-right {
    max-width: 654px;
    height: 448px;
  }
  .main-section-content-left {
    /* left: 40px; */
    max-width: 321px;
    top: 57px;
    padding: 37px 60px 46px 46px;
  }
  .main-section-content-left h6 {
    font-size: 24px;
    line-height: 35px;
  }
  .main-section-content-left p {
    font-size: 18px;
    margin-bottom: 23px;
  }
  .main-section {
    padding-bottom: 60px;
  }
  .about-us-section {
    font-size: 18px;
    line-height: 149.5%;
    padding-bottom: 53px;
  }
  h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .selection-cards-wrapper {
    margin: 18px auto 0;
    max-width: 555px;
    padding-bottom: 60px;
  }
  .selection-cards-wrapper .card-box {
    margin-bottom: 25px;
  }
  .how-it-work-inner {
    padding: 50px 0 0;
    /* padding: 50px 40px 31px; */
  }
  .levels-container {
    padding: 0 40px;
  }
  .tab-wrapper-inner {
    padding: 0 40px;
  }
  .how-it-work-inner .sub-title {
    margin: 11px auto 31px;
    padding: 0 15px;
  }
  .how-it-works-content {
    padding: 60px 40px;
  }
  .technical-park-right {
    max-width: 383px;
    height: 433px;
  }
  .technical-item {
    font-size: 16px;
    line-height: 23px;
  }
  .technical-park-inner {
    padding: 60px 0;
  }
  .contact-us-section {
    padding-top: 51px;
  }
  .contact-us-section .sub-title {
    font-size: 16px;
  }
  .contact-us-form {
    max-width: 623px;
    padding-bottom: 60px;
  }
  .footer-inner {
    padding: 0 40px;
  }
}

@media screen and (max-width: 1000px) {
  .how-it-works-section.wrapper {
    padding: 0;
  }
  .burger-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 27px;
    width: 37px;
  }
  .burger-menu div {
    width: 100%;
    background: #000000;
    height: 3px;
  }
  .header-navication-wrapper {
    display: none;
  }
  .tap-info-box {
    max-width: 378px;
  }
  .technical-park-section.wrapper {
    padding-right: 0;
  }
  .main-section-content-left {
    left: 40px;
  }
}
@media screen and (max-width: 700px) {
  .header-wrapper {
    padding: 17px 15px 0;
    margin: 0 auto 47px;
  }
  .wrapper {
    padding: 0 15px;
  }
  .main-section-title {
    font-size: 27px;
    line-height: 32px;
  }
  .main-section-sub-title {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .main-section-content-left {
    position: static;
    max-width: 100%;
    padding: 22px 15px;
  }
  .main-section-content-right {
    max-width: 100%;
    height: 248px;
  }
  .main-section-content-left h6 {
    text-align: center;
  }
  .main-section-content-left p {
    text-align: center;
  }
  .contact-us-btn {
    margin: 34px auto 0;
  }
  .about-us-section img {
    margin: 0 auto 10px;
  }
  .about-us-section {
    padding: 0 15px 44px;
    font-size: 16px;
    line-height: 23px;
  }
  .selection-cards-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .how-it-work-inner {
    padding: 50px 0 31px;
    /* padding: 50px 15px 31px; */
  }
  .level-item {
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 19px;
  }
  .tab-wrapper {
    padding-top: 33px;
  }
  .tab-wrapper-inner {
    flex-direction: column;
    padding-left: 15px;
  }
  .tap-info-box li::before {
    left: -14px;
    top: 10px;
  }
  .how-it-works-content {
    padding: 52px 15px;
    text-align: center;
  }
  .technical-park-section.wrapper {
    padding-right: 15px;
  }
  .technical-park-inner {
    padding: 54px 0;
    flex-direction: column;
  }
  .technical-item {
    font-size: 14px;
    padding: 17px 23px 19px 16px;
  }
  .technical-items-box {
    max-height: 280px;
    padding-right: 10px;
  }
  .technical-park-left {
    margin-bottom: 21px;
  }
  .technical-park-right {
    height: 242px;
  }
  .levels-container {
    padding: 0 15px;
  }
  .tab-wrapper-inner {
    padding: 0 15px;
  }
  .contact-us-section {
    padding: 50px 15px 0;
  }
}
