.select-menu {
    --background: #FFFFFF;;
    --text: color: rgba(0, 0, 0, 0.5);
    --icon: #fff;
    --icon-active: #3f4656;
    --list: #1c212e;
    --list-text: rgba(255, 255, 255, .2);
    --list-text-hover: rgba(255, 255, 255, .5);
    position: relative;
    z-index: 1;
    font-family: 'Jost';
    font-size: 14px;
    border-radius: 5px;
    line-height: 25px;
}

.select-menu select, .select-menu .button {
    font-family: inherit;
    margin: 0;
    border: 0;
    text-align: left;
    text-transform: none;
    -webkit-appearance: none;
}
.select-menu select {
    pointer-events: none;
    user-select: none;
    opacity: 0;
    padding: 8px 36px 8px 12px;
    visibility: hidden;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
}
.select-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    transform: translateY(var(--t));
    transition: opacity 0.3s ease, transform 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.1);
}
.select-menu ul li {
    padding: 8px 36px 8px 12px;
    cursor: pointer;
}
.select-menu > ul {
    background: #F8F7F9;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}
.select-menu > ul li {
    transition: color 0.3s ease;
}
.select-menu > ul li:hover {
    color: rgba(0, 0, 0, 1);
}
.select-menu .button {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    z-index: 1;
    width: 100%;
    display: block;
    background: #FFFFFF;
    overflow: hidden;
    border: 1px solid #b8c0c6;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.5);
}
.select-menu .button span{
  color: rgba(0, 0, 0, 1);
}
.select-menu .button em {
    --r: 45deg;
    display: block;
    position: absolute;
    right: 12px;
    top: 0;
    width: 7px;
    height: 7px;
    margin-top: 13px;
    -webkit-backface-visibility: hidden;
}
.select-menu .button em:before, .select-menu .button em:after {
    --o: 0.4;
    content: '';
    width: 7px;
    height: 7px;
    opacity: var(--o);
    display: block;
    position: relative;
    transition: opacity 0.2s ease;
    transform: rotate(var(--r)) scale(0.75);
}
.select-menu .button em:before {
    border-left: 2px solid var(--icon);
    border-top: 2px solid var(--icon);
    top: 1px;
}
.select-menu .button em:after {
    border-right: 2px solid var(--icon);
    border-bottom: 2px solid var(--icon);
    bottom: 1px;
}
.select-menu:not(.open) > ul {
    opacity: 0;
    pointer-events: none;
}
.select-menu.open.tilt-up {
    animation: tilt-up 0.4s linear forwards;
}
.select-menu.open.tilt-up .button em:before {
    --o: 1;
}
.select-menu.open.tilt-down {
    animation: tilt-down 0.4s linear forwards;
}
.select-menu.open.tilt-down .button em:after {
    --o: 1;
}
@keyframes tilt-up {
    40%, 60% {
        transform: perspective(500px) rotateX(8deg);
   }
}
@keyframes tilt-down {
    40%, 60% {
        transform: perspective(500px) rotateX(-8deg);
   }
}
body .dribbble {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;
}
body .dribbble img {
    display: block;
    height: 28px;
}
