.page-wrapper {
  background: url('../images/line.png'), #ffffff;
  width: 100%;
  padding-top: 81px;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.page-wrapper {
  overflow-x: hidden;
}
.page-inner-wrapper {
  /* max-width: 1366px; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}
.header-wrapper {
  padding: 39px 113px 0;
  transition: all ease 0.5s;
  margin: 0 auto;
  width: 100%;
  font-family: 'Jost';
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  text-transform: none;
  color: #000000;
}
.header-logo-container span {
  font-size: 24px;
  margin-left: 11px;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-navication-wrapper {
  max-width: 652px;
  width: 100%;
}

.header-navication-box {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-between;
}
.main-section {
  position: relative;
  width: 100%;
  z-index: 1;
  margin: 0 auto;
}
.header-wrapper.desktop.sticky {
  background: #FFFFFF;
  box-shadow: 0px 4px 21px rgba(123, 121, 121, 0.25);
  padding-top: 37px;
  padding-bottom: 41px;
}
.main-title-container {
  margin-top: 103px;
  margin-left: 113px;
}
.main-title-container .title {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 70px;
}
.main-title-container .sub-title {
  font-family: 'Jost';
  font-size: 24px;
  margin-top: 30px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.5);
}
.main-title-btn {
  background: #048010;
  border-radius: 50px;
  width: 215px;
  margin-top: 38px;
  height: 50px;
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-section::after {
  content: '';
  background-image: url('../images/kisspng-common-grape-vine-grape-leaves-wine-grapes-5acc1091364cd5.png');
  position: absolute;
  width: 565px;
  height: 524px;
  right: 0;
  top: 0;
  z-index: -1;
}
.main-slider-wrapper {
  margin: 0 auto;
  margin-top: 130px;
  max-width: 1202px;
  width: 100%;
  padding: 0 31px;
  position: relative;
}
.slider-item {
  height: 270px;
  margin: 0 10px;
}
.slider-item iframe {
  width: 100%;
  height: 100%;
}
.main-slider-wrapper .slick-prev.slick-arrow {
  background-image: url('../images/prev-arrow.png');
  height: 23px;
  width: 11px;
  background-size: contain;
}
.main-slider-wrapper .slick-next.slick-arrow {
  background-image: url('../images/next-arrow.png');
  height: 23px;
  background-size: contain;
  width: 11px;
}
.main-slider-wrapper .slick-prev.slick-arrow::before,
.main-slider-wrapper .slick-next.slick-arrow::before {
  content: '';
}
.main-section::before {
  content: '';
  background-image: url('../images/main-bg.png');
  width: 100%;
  position: absolute;
  bottom: 74px;
  height: 630px;
  background-size: cover;
  z-index: -2;
}
.burger-menu-close {
  width: 37px;
  height: 37px;
  position: relative;
}
.burger-menu-close .first {
  width: 100%;
  height: 3px;
  background: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.illion-map-container div iframe {
  width: 100%;
  height: 700px;
  margin: 20px auto;
}
.illion-map-container div a {
  display: none;
}

/* custom checkbox */

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.footer-copyright-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 18px;
  color: #FFFFFF;
  display: block;
}
.footer-copyright-title.first {
  margin-top: 5px;
}
.vine-content-wrapper {
  max-width: 1966px;
  position: relative;
  width: 100%;
  flex: 1;
  margin: 0 auto;
  padding-top: 160px;
  padding-left: 238px;
  display: flex;
}
.vine-bottom-wrapper {
  max-width: 1966px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.vine-right-box a img {
  object-fit: contain;
}
.vine-bottom-left-image {
  max-width: 697px;
  width: 100%;
  height: 343px;
}
.vine-title-box {
  width: 100%;
  max-width: 1147px;
  padding-left: 108px;
  height: 443px;
  padding-top: 27px;
  background-image: url('../images/vine-title-bg-image.png');
  font-family: 'Gotham Pro', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 80px;
  line-height: 64px;
  color: #000000;
}
.vine-title-box .second {
  margin-left: 234px;
}
.vine-title-box .yellow {
  color: #F2994A;
}
.vine-title-box .five {
  margin-left: 134px;
}

.vine-bottom-slider-box {
  font-family: 'Raleway';
  max-width: 509px;
  width: 100%;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 24px;
  color: #000000;
  padding-top: 40px;
}
.vine-right-box {
  max-width: 481px;
  width: 100%;
  background: #F2994A;
  height: 141px;
  display: flex;
  align-items: center;
  padding: 0 93px 0 87px;
}
.vine-right-box a {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.vine-right-box a p {
  position: relative;
}
.vine-right-box a p::after {
  content: "";
  bottom: -3px;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #FFFFFF;
  border-radius: 15px;
  left: 0;
}
.vine-bottom-slider-box p{
  padding-left: 15px;
  padding-right: 20px;
}

.vine-desktop-style {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 1335px;
}

.vine-title-box .third {
  margin-left: 332px;
}
.vine-title-box .four {
  margin-left: 325px;
}
.vine-slider-box {
  width: 531px;
  height: 511px;
  position: relative;
}
.vine-slider-box::after {
  content: "";
  width: 174px;
  height: 174px;
  background-image: url('../images/circle-text-img.png');
  position: absolute;
  top: -87px;
  left: -87px;
}
.vine-social-box {
  position: absolute;
  left: 68px;
  top: 220px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.vine-slider-item {
  width: 531px;
  height: 511px;
  display: flex !important;
  align-items: flex-end;
  padding: 36px 60px 63px;
  font-family: 'Gotham Pro', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #FFFFFF;
}
.vine-slider-box .slick-dots{
  bottom: 16px;
}
.vine-slider-box .slick-dots li button {
  width: 18px;
  height: 18px;
  border: 1px solid #F2994A;
  border-radius: 50%;
}
.vine-slider-box .slick-dots li button:before {
  width: 18px;
  height: 18px;
  color: transparent !important;
}
.vine-slider-box .slick-dots li.slick-active button:before {
  background: #F2994A;
  border-radius: 50%;
}
.vine-bottom-slider-box .slick-dots {
  display: flex;
  width: 100%;
  background: #F2F0F0;
  border-radius: 15px;
  bottom: 54px;
}
.vine-bottom-slider-box .slick-dots li{
  flex: 1;
  margin: 0;
  height: 5px;
}
.vine-bottom-slider-box .slick-dots li button {
  height: 5px;
  padding: 0;
  width: 100%;
}
.vine-bottom-slider-box  .slick-dots li button:before {
  display: none;
}
.vine-bottom-slider-box .slick-dots li.slick-active {
  background: #F2994A !important;
  border-radius: 15px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F9FAFB 100%);
  border: 1px solid #C4CDD5;
  box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05);
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.02) 3.12%, rgba(97, 121, 133, 0.02) 100%), #FFFFFF;
  border: 1px solid #048010;
  box-shadow: 0px 1px 1px rgba(97, 121, 133, 0.0528), 0px 1px 1px rgba(64, 82, 88, 0.032);
}

/* When the checkbox is checked, add a blue background */


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 50%;
  top: 50%;
  width: 10px;
  height: 8px;
  transform: translate(-50%, -50%);
  background-image: url('../images/check.png');
}
.field-item {
  margin-bottom: 7px;
}
.fields-list-container {
  margin-top: 33px;
}
.header-wrapper.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.vine-layout .header-logo-container img {
  width: 249px;
  height: 96.18px;
}
.field-item label {
  display: block;
  font-family: 'Jost';
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 9px;
}
.library-items-list {
  display: flex;
  margin: 57px auto 71px;
  width: 100%;
  max-width: 1140px;
  flex-wrap: wrap;
  gap: 30px 42px;
}
.library-items-list.adaptive {
  display: none;
}
.field-item input {
  height: 40px;
  top: 30px;
  background: #FFFFFF;
  border: 1px solid #B8C0C6;
  box-sizing: border-box;
  border-radius: 5px;
  width: 323px;
  font-family: 'Jost';
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  padding: 0 10px;
}
.pagination-wrapper {
  display: flex;
  padding: 45px 0 34px;
  flex-wrap: wrap;
}
.pagination-wrapper li {
  position: relative;
  font-family: 'Jost';
  list-style: none;
  font-size: 18px;
  line-height: 21px;
  margin-right: 30px;
  color: #000000;
}
.header-navigation-item a {
  color: #000000;
}
.header-navigation-item a:hover {
  color: #048010;
}
.vine-layout .header-navigation-item a:hover {
  color: #F2994A;
}
.vine-layout .header-navigation-item a:hover::after {
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #F2994A;
}
.vine-layout .header-navigation-item a {
  position: relative;
}
.pagination-wrapper li::after {
  content: '';
  background-image: url('../images/bread-crums-icon.svg');
  background-size: cover;
  width: 6px;
  height: 12px;
  position: absolute;
  right: -17px;
  top: 5px;
}
.pagination-wrapper li:last-child::after {
  display: none;
}
.field-item textarea {
  height: 91px;
  top: 30px;
  background: #FFFFFF;
  border: 1px solid #B8C0C6;
  box-sizing: border-box;
  border-radius: 5px;
  width: 323px;
  font-family: 'Jost';
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  padding: 5px 10px;
}
.field-checkbox {
  display: flex;
  margin-top: 12px;
  align-items: center;
}
.faq-sub-title {
  max-width: 638px;
  font-family: 'Jost';
  font-size: 18px;
  margin-top: 21px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.5);
}
.footer-right-box {
  display: flex;
  max-width: 287px;
  width: 100%;
}
.liveinternet-box {
  margin-right: 20px;
}
.footer-routes-wrapper {
  max-width: 427px;
  width: 100%;
}
.footer-routes-wrapper a {
  font-family: 'Jost';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.faq-question-container {
  margin: 50px auto 50px;
  max-width: 542px;
  width: 100%;
  position: relative;
}
.owners-list .worker-item-box .vertical-devider {
  background-color: green;
}
.owners-list .worker-item-box .black-description {
  color: #000000;
} 
.owners-list .worker-item-box a {
  font-family: 'Jost';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-left: 10px;
    margin-top: 10px;
    display: block;
}
.owners-list .worker-item-box a img {
  margin-right: 10px;
  width: 15px;
}
.article-date {
  font-family: 'Jost';
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 22px;
}
.article-page .timplate-page-title {
  font-size: 40px;
  line-height: 47px;
  margin-block-start: 0;
  margin-block-end: 0;
  max-width: 915px;
}
.article-page .padding {
  padding-bottom: 45px;
}
.article-organization {
  font-family: 'Jost';
  font-size: 16px;
  line-height: 19px;
  color: #048010;
  margin-bottom: 28px;
  margin-top: 10px;
}
.faq-question-container input {
  width: 100%;
  height: 54px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(154, 154, 154, 0.35);
  -webkit-box-shadow: 0px 4px 8px rgba(154, 154, 154, 0.35);
  -moz-box-shadow: 0px 4px 8px rgba(154, 154, 154, 0.35);
  border-radius: 60px;
  border: none;
  padding-left: 26px;
  font-family: 'Jost';
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
}
.faq-question-list-container {
  display: flex;
  margin-top: 66px;
  justify-content: space-between;

}
.faq-question-column {
  width: 48%;
}
.faq-question {
  width: 100%;
  border-bottom: 1px solid rgba(45,	41,	38, 0.1);
  font-family: 'Jost';
  padding-bottom: 6px;
  position: relative;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding-right: 20px;
}
.faq-icon {
  position: absolute;
  width: 16px;
  border-radius: 50%;
  right: 0;
  top: 2px;
  height: 16px;
  background: #048010;
}
.faq-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  transform: translate(-50%, -50%);
  height: 2px;
  background: #FFFFFF;
}
/* .faq-icon.open::after {
  display: none;
} */
.faq-answer {
  font-family: 'Jost';
  display: none;
  padding-top: 24px;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
}
.faq-question-item.open .faq-icon::after {
  display: none;
} 
.faq-icon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  transform: translate(-50%, -50%);
  height: 6px;
  background: #FFFFFF;
}
.faq-question-item {
  width: 100%;
  margin-bottom: 40px;
}
.faq-question-container button {
  width: 174px;
  height: 50px; 
  background: #048010;
  border-radius: 50px;
  position: absolute;
  right: 2px;
  top: 2px;
  border: none;
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.checkbox-title {
  font-family: 'Jost';
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.field-checkbox .checkbox-item {
  margin-right: 11px;
}
.form-button {
  width: 323px;
  height: 50px;
  background: #048010;
  border-radius: 50px;
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  outline: none;
  border:none;
  margin-top: 20px;
}
.checkbox-item {
  width: 16px;
  height: 16px;
  margin-right: 20px;
}
.checkbox-container {
  display: flex;
  margin-top: 20px;
}

.part-title {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 8px;
}
.form-part-container {
  padding-left: 66px;
  margin-top: 50px;
  position: relative;
}
.part-number {
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  border-radius: 50%;
  background: #048010;
  font-family: 'Tenor Sans';
  line-height: 28px;
  color: #FFFFFF;
}
.label-title {
  font-family: 'Jost';
  font-size: 18px;
  color: #000000;
  margin-bottom: 14px;
}
.label-sub-title {
  font-family: 'Jost';
  font-size: 14px;
  line-height: 21px;
  max-width: 391px;
  color: rgba(0, 0, 0, 0.5);
}

.burger-menu-container div {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 36px;
  text-align: center;
}
.burger-menu-social-list {
  display: flex;
  max-width: 200px;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding-inline-start: 0;
  padding-bottom: 40px;
  list-style: none;
}
.navigation-list {
  padding-inline-start: 0;
}
.navigation-list li {
  font-family: 'Jost';
  font-size: 24px;
  line-height: 21px;
  text-align: center;
  list-style: none;
  text-transform: capitalize;
  color: #000000;
  list-style: none;
  margin-bottom: 20px;
}
.timplate-page-title {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  margin-block-start: 0;
  margin-block-end: 0;
}
.inner-page-container {
  position: relative;
}
.workers-list-wrapper {
  display: flex;
  gap: 1%;
  flex-wrap: wrap;
  padding-top: 25px;
}
.worker-item-box {
  display: flex;
  width: 32%;
  margin-bottom: 25px;
}
.worker-content-box h6 {
  font-family: "Jost";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 15px 0;
}
.worker-content-box p {
  font-family: 'Jost';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 8px;
}

.worker-image {
  min-width: 200px;
  width: 200px;
  height: 200px;
}
.worker-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.worker-item-box .vertical-devider{
  width: 2px;
  height: 100%;
  background-color: red;
  margin: 0 15px;
}
.inner-page-container-bg {
  background-image: url('../images/timplate-bg.png');
  width: 372px;
  background-size: cover;
  position: absolute;
  right: -92px;
  top: -65px; 
  z-index: 0;
  height: 329px;
}
.inner-content-description {
  font-family: 'Jost';
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.5);
}
.timplate-image {
  margin: 58px 0 50px;
  width: 100%;
  height: 631px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
.inner-content-description.padding {
  padding-right: 252px;
}

.inner-content-container {
  padding: 18px 0 0;
}
.burger-menu-close .second {
  width: 100%;
  height: 3px;
  background: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.burger-menu-wrapper {
  position: fixed;
  display: none;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
  background: #ffffff;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger-menu-wrapper .burger-menu-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-main-section-wrapper {
  width: 100%;
  padding-top: 123px;
  padding-bottom: 25px;
}
.about-main-section-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-icon {
  margin-bottom: 23px;
}
.adaptive-product-map {
  display: none;
}
.about-main-title {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #1c1c1c;
}
.about-main-sub-title {
  font-family: 'Jost Italic';
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #1c1c1c;
  opacity: 0.5;
  max-width: 810px;
  margin-bottom: 33px;
  margin-top: 18px;
}
.you-tube-icon {
  position: absolute;
  top: 15px;
  right: 0;
}
.winemaking-cards-container {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 55px auto 0;
}
.winemaking-cards-container.my-dick {
  max-width: 768px;
  flex-wrap: wrap;
}
.winemaking-bg {
  background-image: url('../images/timplate-bg.png');
    width: 372px;
    background-size: cover;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: -75px;
    z-index: 0;
    height: 329px;
}
.winemaking-cards-container h4 {
  font-family: 'Jost';
  font-size: 36px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}
.winemaking-card-item {
  width: 366.61px;
  height: 209px;
  display: flex;
  align-items: center;
  background-size: cover !important;
  justify-content: center;
  margin-top: 20px;
}
.winemaking-content-container {
  margin: 0 auto;
  max-width: 792px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 61px 0 0;
}
.winemaking-description {
  font-family: 'Jost';
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.divider {
  margin: 40px 0;
  height: 2px;
  background-color: black;
}
.main-footer-btn.get-more-lands-btn {
  width: auto ;
  padding: 0 20px;
  margin: 40px auto;
}

.winemaking-content-container img {
  margin-bottom: 40px;
  width: 62px;
  height: 62px;
}
.winemaking-card-item:hover {
  background: #048010 !important;
}
.document-main-section {
  padding: 0 113px 0;
  width: 100%;
  flex: 1 1;
}
.links-container {
  max-width: 955px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.build-link-item {
  width: 307.26px;
  height: 76px;
  display: flex;
  margin-top: 49px;
  align-items: center;
  font-family: 'Jost Medium';
  font-size: 18px;
  line-height: 125.5%;
  color: #048010;
  position: relative;
  margin-bottom: 38px;
  padding: 0 91px 0 24px;
  border: 1px solid #048010;
  background: #ffffff;
}
.build-link-item:hover {
  background: #048010;
  color: #FFFFFF;
}
.build-link-item:hover div {
  background: url('../images/white-arrow.png');
}
.build-link-item div {
  position: absolute;
  right: 26px;
  width: 20px;
  height: 16px;
  background: url('../images/green-arrow.png');
  top: 50%;
  transform: translate(0, -50%);
}
.document-list-container {
  max-width: 1140px;
  width: 100%;
  display: flex;
  margin: 34px auto 54px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.document-item {
  max-width: 520px;
  width: 100%;
  transition: all ease 0.5s;
  position: relative;
  padding: 10px 40px 10px 10px;
  margin-bottom: 20px;
  left: 0;
  position: relative;
}
.document-item:hover {
  left: 32px;
  box-shadow: 0px 4px 21px rgba(123, 121, 121, 0.25);
  border-radius: 10px;
}
.document-item img{
  width: 23px;
  height: 25px;
  transition: all ease 0.5s;
}
.document-item:hover .you-tube-icon {
  right: 10px;
}
.document-item:hover .you-tube-icon img{
  width: 34px;
  height: 34px;
}

.document-title {
  font-family: 'Jost';
  font-size: 24px;
  line-height: 45px;
  color: #000000;
}
.press-item-photo img {
  width: 290px;
  height: 175px;
  object-fit: cover;
  margin-bottom: 20px;
}
.press-list-container {
  padding-top: 53px;
}
.document-description {
  font-family: 'Jost';
  font-size: 16px;
  line-height: 150%;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
}
.press-item-content-box {
  margin-left: 25px;
}
.press-item {
  display: flex;
  max-width: 831px;
  width: 100%;
}
.document-main-title {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 70px;
  color: #000000;
}
.all-map {
  display: block;
  margin-right: 40px;
  font-family: 'Tenor Sans';
  font-family: 'Jost';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid #B8C0C6;
  padding: 10px;
  border-radius: 5px;
}
.more-button {
  font-family: 'Jost';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  position: relative;
  display: block;
  color: #1C1C1C;
  width: 123px;
  margin: 0 auto;
}
.more-button::after {
  width: 11px;
  height: 6px;
  margin-left: 9px;
  content: '';
  background-image: url('../images/more-video.png');
  position: absolute;
  right: -9px;
  bottom: 7px;
}
.video-list-container {
  display: flex;
  max-width: 1527px;
  position: relative;
  width: 100%;
  margin: 54px auto 0;
  flex-wrap: wrap;
}
.custom-select {
  width: 268px;
  height: 40px; 
  position: relative;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.timplate-map-page .page-inner-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.library-item-box {
  width: 549px;
  min-height: 213px;
  display: flex;
  box-shadow: 0px 4px 21px rgba(123, 121, 121, 0.25);
  border-radius: 10px;
}
.video-item {
  width: 358px;
  margin-right: 21px;
  margin-bottom: 24px;
}
.video-item:nth-child(4n + 4) {
  margin-right: 0;
}
.video-item iframe {
  width: 100%;
  height: 270px;

}
.video-item-title {
  font-family: 'Jost SemiBold';
  font-size: 18px;
  line-height: 21px;
  margin-top: 12px;
  color: #000000;
}
.video-item-description {
  font-family: 'Jost';
  font-size: 18px;
  margin-top: 5px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.5);
}
.about-main-description {
  font-family: 'Jost';
  font-size: 20px;
  line-height: 23px;
  margin-top: 35px;
  text-align: center;
  max-width: 637px;
  color: #1c1c1c;
}
.suggest-title {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 47px;
  text-align: center;
  color: #1c1c1c;
}
.suggest-section-wrapper {
  padding-top: 129px;
}
.suggest-section-inner {
  max-width: 1090px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
}
.burger-menu {
  display: none;
}
.header-wrapper.desktop {
  position: fixed;
  top: 0;
  z-index: 9;
  transition: all ease 0.5s;
}
.suggest-list-container {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.social-links-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.social-links-container li, .social-links-container li a {
  display: flex;
  align-items: center;
}
.social-links-container li {
  margin-right: 40px;
  font-family: 'Jost';
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #000000;
  margin-top: 13px;
}
.contact-map-container {
  margin-top: 37px;
  margin-bottom: 80px;
}
.contact-map-container iframe {
  width: 100% !important;
  height: 590px !important;
}
.contact-phone {
  margin-right: 14px;
}
.contact-email {
  margin-right: 20px;
}
.contact-maps {
  margin-right: 10px;
}
.contact-whatsapp {
  margin-right: 13px;
}
.suggest-item {
  width: 530px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(201, 188, 188, 0.25);
  border-radius: 10px;
  padding: 40px 43px 40px 47px;
}
.suggest-item-title {
  font-family: 'Jost SemiBold';
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 12px;
  color: #1c1c1c;
  opacity: 0.8;
}

.suggest-item-description {
  font-family: 'Jost';
  font-size: 18px;
  line-height: 21px;
  color: #1c1c1c;
  opacity: 0.8;
}
.main-footer-section-wrapper {
  width: 100%;
  height: 766px;
  display: flex;
  flex-direction: column;
  background-image: url('../images/main-footer-bg.png');
  justify-content: space-between;
  padding-top: 136px;
  margin: 0 auto;
}
.main-footer-description {
  font-family: 'Tenor Sans';
  font-style: normal;
  max-width: 804px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #1c1c1c;
  margin-bottom: 46px;
}
.main-footer-btn {
  width: 215px;
  height: 50px;
  background: #048010;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
.footer-logo {
  display: flex;
  align-items: center;
}
.footer-logo span {
  margin-left: 11px;
  font-family: 'Jost';
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
}
.footer-inner {
  height: 160px;
  display: flex;
  justify-content: space-between;
  padding: 0 113px;
  align-items: center;
  background: #1c1c1c;
}
.footer-navigation-wrapper {
  max-width: 180px;
  width: 100%;
}
.footer-navigation-box {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 0;
}

.land-main-section {
  padding: 0 113px;
}
.land-main-title {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  padding-top: 34px;
}
.card-links-wrapper {
  display: flex;
  margin-top: 55px;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1140px;
  margin: 55px auto 0;
}
.go-to-library {
  background: #048010;
  border-radius: 50px;
  width: 279px;
  margin-top: 38px;
  height: 50px;
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
  display: flex;
  align-items: center;
  transition: all ease 0.5s;
  justify-content: center;
}
.go-to-library:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.51);
}
.card-links-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19px;
  font-family: 'Jost SemiBold';
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
}
.card-links-wrapper a:hover {
  background: #048010 !important;
}
.card-links-wrapper a {
  height: 210px;
  width: 367px;
  margin-bottom: 22px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.select-arrow {
  position: absolute;
  right: 9px;
  top: 17px;
  width: 11px;
  height: 6px;
  display: block;
  background-image: url('../images/select-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.library-item-image {
  min-width: 214.28px;
  height: 213px;
  border-radius: 10px 0px 0px 10px;
  overflow: hidden;
}
.library-item-image img {
  min-width: 214.28px;
  height: 213px;
}
.library-item-title {
  font-family: "Jost";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.library-item-sub-title {
  font-family: 'Jost';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 8px;
}

.library-item-description {
  font-family: 'Jost';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-top: 8px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.library-item-content {
  max-width: 335px;
  width: 100%;
  padding: 24px 45px 24px 22px;
}
.library-go-btn {
  margin: 0 auto 130px;
  display: flex;
  justify-content: center;
}
.custom-select select {
  font-family: 'Jost';
  text-align: center;
  width: 268px;
  height: 40px;
  font-size: 14px;
  padding: 8px 0 10px 15px;
  line-height: 150%;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.5);
}
.commercial-offers-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.commercial-offers-title {
  text-align: center;
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  width: 539px;
  margin: 20px auto 0;
  line-height: 35px;
  text-align: center;
}
.commercial-offers-section {
  padding-top: 70px;
  padding-bottom: 40px;
}
.product-item-title {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-top: 22px;
}
.illion-map-page {
  height: 100vh;
}
.illion-map-page .page-inner-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.partneers-list-box {
  display: flex;
  gap: 61px 20px;
  justify-content: initial;
  flex-wrap: wrap;
}
.partneers-item-box {
  width: 100%;
  max-width: 366px;
  padding: 26px 26px 5px;
  background: #FFFFFF;
  box-shadow: 0px 4px 21px rgba(123, 121, 121, 0.25);
  border-radius: 10px;
}
.partneer-logo {
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 176px;
  margin: 0 auto;
}
.partneer-logo img {
  max-width: 150px;
  object-fit: contain;
}
.partneer-title {
  margin-top: 14px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}
.partneer-sub-title {
  font-family: 'Jost';
  margin-top: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}
.partneer-description {
  font-family: 'Jost';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin: 9px 0 33px;
}
.partneer-link {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #048010;
  outline: none;
}
.product-item-box {
  font-family: 'Jost';
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding-right: 25px;
  padding-top: 7px;
}
.product-item-description {
  font-family: 'Jost';
  font-size: 16px;
  margin: 15px 0 10px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
  width: 316px;
}
.product-item-box span {
  color: #048010;
  font-family: 'Jost SemiBold';
}
.commercial-offers-sort-box {
  display: flex;
  justify-content: space-between;
  max-width: 1146px;
  width: 100%;
  margin: 30px auto 26px;
}
.go-product-link {
  font-family: 'Jost';
  font-size: 16px;
  line-height: 19px;
  color: #048010;
}
.product-item {
  width: 357px;
  margin-bottom: 40px;
  margin-right: 34px;
}
.product-item:nth-child(3n + 3) {
  margin-right: 0;
}

.product-list-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1166px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
.commercial-offers-icon {
  margin: 0 auto;
}
.strong-option {
  font-family: 'Jost SemiBold';
}

.slider-nav img {
  width: 135px;
  height: 125px;
}
.product-main-section {
  padding: 0 113px 80px;
  flex: 1 1;
}

.slider-for img {
  height: 470px;
  width: 100%;
  object-fit: contain;
}
.slider-nav img {
  width: 135px;
  height: 125px;
  margin: 21px 10px 0;
}
.product-main-slider-wrapper {
  width: 100%;
  max-width: 602px;
  margin-right: 45px;
}
.product-main-content-wrapper {
  max-width: 650px;
  position: relative;
  width: 100%;
}
.product-main-content-title {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 70px;
  color: #000000;
}
.product-main-inner {
  display: flex;
  justify-content: space-between;
  max-width: 1138px;
  margin: 54px auto 0;
  margin-top: 54px;
  width: 100%;
}
.product-video-section {
  background: linear-gradient(180deg, #f8f7f9 0%, rgba(248, 247, 249, 0) 87.6%);
  width: 100%;
  padding: 98px 0 83px;
}
.product-main-content-wrapper::before {
  content: '';
  background-image: url('../images/product-photo-bg.png');
  width: 372px;
  background-size: cover;
  height: 329px;
  position: absolute;
  right: -96px;
  top: -65px;
}
.product-video-inner iframe {
  height: 486.88px;
  width: 100%;
}
.product-video-title {
  font-family: 'Jost SemiBold';
  font-size: 18px;
  line-height: 21px;
  margin-top: 21px;
  color: #000000;
}
.product-video-sub-title {
  font-family: 'Jost';
  font-size: 18px;
  line-height: 21px;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.5);
}
.product-video-inner {
  max-width: 889px;
  width: 100%;
  margin: 0 auto;
}
.product-main-price-title {
  font-family: 'Jost';
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.product-main-price-title span {
  color: #048010;
}
.product-main-description {
  font-family: 'Jost';
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 8px;
  margin-bottom: 33px;
}
.product-main-sub-title {
  font-family: 'Jost';
  font-size: 18px;

  line-height: 21px;
  margin-bottom: 10px;
  margin-top: 10px;

  color: #000000;
}
.product-main-map-container {
  margin-top: 30px;
  max-width: 502px;
}
.product-main-map-container iframe {
  width: 100% !important;
  height: 260px !important;
}
.adaptive-title {
  display: none;
}
.document-page {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.good-know-page .document-item {
  max-width: 515px;
  padding: 0;
}
@media screen and (max-width: 1780px) {
  .video-list-container {
    max-width: 1140px;
  }
  .video-item:nth-child(4n + 4) {
    margin-right: 21px;
  }
  .video-item:nth-child(3n + 3) {
    margin-right: 0;
  }
  .video-item {
    width: 361px;
  }
  .part-number {
    width: 23px;
    height: 23px;
    font-size: 18px;
  }
  .fields-list-container {
    margin-top: 9px;
  }
  .form-part-container {
    margin-top: 30px;
  }
  .label-title {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .form-part-container {
    padding-left: 46px;
  }
  .vine-title-box {
    padding-left: 108px;
    font-size: 70px;
    line-height: 57px;
  }
  .vine-title-box .second {
    margin-left: 165px;
  }
  .vine-title-box .third {
    margin-left: 226px;
  }
  .vine-title-box .four {
    margin-left: 226px;
  }
  .vine-title-box .five {
    margin-left: 119px;
  }
  .vine-slider-box {
    width: 381px;
    height: 411px;
    position: relative;
  }
  .vine-content-wrapper {
    padding-left: 0;
  }
  .vine-social-box {
    left: 30px;
  }
  .vine-desktop-style {
    max-width: 1018px;
  }
  .vine-bottom-left-image {
    max-width: 485px;
    height: 238px;
  }
  .vine-bottom-slider-box {
    font-size: 18px;
    line-height: 22px;
    max-width: 497px;
  }
  .vine-bottom-left-image img {
    object-fit: cover;
    width: 100%;
  }
  .vine-right-box {
    max-width: 382px;
    padding: 0 46px 0 62px;
  }
  .vine-title-box {
    background-size: cover;
    height: 335px;
  }
  .vine-bottom-slider-box .slick-dots {
    bottom: 0;
  }
  .vine-slider-item {
    width: 431px;
    height: 411px;
    font-size: 26px;
    line-height: 31px;
    padding: 36px 41px 57px;
    background-size: cover !important;
  }
}
@media screen and (max-width: 1600px) {
  .workers-list-wrapper {
    gap: 2%;
  }
  .worker-item-box {
   width: 49%;
  }
}
@media screen and (max-width: 1460px) {
  .illion-map-container div iframe {
    height: 500px;
  }
  .timplate-image {
    height: 431px;
  }
}
@media screen and (max-width: 1340px) {
  .header-wrapper {
    padding: 24px 40px 0;
  }

  .vine-layout .header-logo-container img {
    width: 239px;
    height: 82px;
  }

  .vine-content-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  
  .vine-slider-box {
    margin-top: 50px;
  }
  .vine-bottom-wrapper {
    flex-direction: column;
  }
  .slick-prev {
    left: -15px;
  }
  .slick-next {
    right: -15px;
  }
  .library-items-list {
    gap: 30px;
  }
  .library-item-box {
    width: 100%;
  }
  .library-item-content {
    max-width: 100%;
  }
  .video-list-container {
    max-width: 944px;
  }
  .video-item iframe {
    height: 200px;
  } 
  .title-container {
    padding-bottom: 24px;
  }
  .video-list-container {
    margin-top: 0;
  }
  .winemaking-bg {
    transform: translate(0, 0);
    right: -60px;
    left: auto;
    top: -52px;
    width: 263px;
    height: 233px;
  }
  .video-item {
    width: 300px;
  }
  .winemaking-cards-container {
    margin: 0 auto 20px;
  }
  .winemaking-card-item {
    width: 297.61px;
    height: 163px;
  }
  .winemaking-cards-container h4 {
    font-size: 24px;
    line-height: 19px;  
  }
  .winemaking-content-container img {
    margin-bottom: 16px;
  }
  .timplate-page-title {
    font-size: 40px;
    line-height: 47px;
  }
  .inner-content-container {
    padding: 0;
  }
  .inner-page-container-bg {
    width: 263px;
    height: 233px;
    right: 0;
  }
  .inner-content-description.padding {
    padding: 0;
  }
  
  .article-page .padding {
    padding-bottom: 45px;
  }
  .article-page .timplate-page-title {
    font-size: 24px;
    line-height: 28px;
    max-width: 572px;
  }
  .timplate-map-page .product-main-section {
    flex: 1 1;
  }
  .timplate-image {
    margin: 24px 0 30px;
  }
  .inner-content-description {
    font-size: 16px;
    line-height: 19px;
  }
  .social-links-container li {
    font-size: 16px;
    line-height: 19px;
  }
  .press-list-container {
    padding-top: 33px;
  }
  .document-item {
    max-width: 326px;
    margin-bottom: 20px;
  }
  .document-main-section {
    padding: 0 40px;
  }
  .article-page .padding {
    padding-bottom: 25px;
  }
  .document-main-title {
    font-size: 40px;
    line-height: 47px;
  }
  .document-title {
    font-size: 18px;
  }
  .document-description {
    font-size: 14px;
  }
  .document-list-container {
    max-width: 692px;
  }
  .illion-map-container div iframe {
    height: 700px;
  }
  .land-main-section {
    padding: 0 40px;
  }
  .card-links-wrapper a:first-child {
    margin-right: 12px;
  }
  .card-links-wrapper a:last-child {
    margin-left: 12px;
  }
  .slider-nav img {
    width: 75px;
    height: 69px;
    margin: 11px 5px 0;
  }
  .product-main-price-title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
  }
  .product-main-map-container {
    margin-top: 20px;
    max-width: 333px;
  }
  .product-main-content-wrapper::before {
    width: 263px;
    height: 233px;
    right: -51px;
    top: -44px;
  }
  .product-video-inner {
    max-width: 502.88px;
  }
  .product-video-inner iframe {
    height: 340.8px;
  }
  .product-video-section {
    padding: 60px 0 70px;
  }
  .product-video-title {
    margin-top: 12px;
  }
  .product-video-sub-title {
    font-size: 16px;
    margin-top: 7px;
    line-height: 16px;
  }
  .product-main-map-container iframe {
    height: 172px !important;
  }
  .product-main-sub-title {
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
  }
  .product-main-description {
    font-size: 14px;
    margin-top: 6px;
    line-height: 16px;
  }
  .card-links-wrapper a {
    height: 126.55px;
    margin-bottom: 14px;
  }
  .product-main-slider-wrapper {
    max-width: 333px;
  }
  .slider-for img {
    height: 260px;
  }
  .product-main-section {
    padding: 40px 40px 58px;
  }
  .product-main-content-title {
    font-size: 40px;
    line-height: 47px;
  }
  .card-links-wrapper a {
    font-size: 24px;
    line-height: 19px;
  }
  .commercial-offers-section {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .commercial-offers-title {
    font-size: 24px;
    line-height: 28px;
  }
  .commercial-offers-sort-box {
    max-width: 688px;
  }
  .product-list-container {
    max-width: 708px;
  }
  .product-item {
    width: 215.57px;
    margin-right: 20px;
  }
  .product-item-description {
    max-width: 100%;
    margin: 12px 0 10px;
    font-size: 14px;
    line-height: 16px;
  }
  .go-product-link {
    font-size: 14px;
    line-height: 16px;
  }
  .commercial-offers-title {
    width: 347px;
  }
  .product-item img {
    width: 215.57px !important;
    height: 199.27px !important;
    object-fit: cover;
  }
  .main-title-container {
    margin-top: 64px;
    margin-left: 40px;
  }
  .main-title-container .title {
    font-size: 40px;
    line-height: 47px;
  }
  .main-title-container .sub-title {
    font-size: 18px;
  }
  .main-title-container .sub-title {
    margin-top: 20px;
  }
  .main-title-btn {
    font-size: 16px;
  }
  .slider-item {
    height: 189px;
    margin: 0 10px;
  }
  .main-section::after {
    width: 332px;
    height: 316px;
    background-size: cover;
  }
  .main-slider-wrapper {
    margin-top: 74px;
  }
  .main-section::before {
    height: 357px;
  }
  .about-main-title {
    font-size: 24px;
  }
  .about-main-section-wrapper {
    padding-top: 58px;
    padding-bottom: 53px;
  }
  .about-main-sub-title {
    font-size: 16px;
    margin-bottom: 39px;
    margin-top: 15px;
  }
  .about-main-description {
    font-size: 18px;
    line-height: 21px;
  }
  .about-main-description {
    margin-top: 27px;
  }
  .suggest-section-wrapper {
    padding: 50px 40px 0;
  }
  .suggest-item-title {
    font-size: 18px;
  }
  .suggest-item-description {
    font-size: 14px;
  }
  .suggest-title {
    font-size: 24px;
  }
  .main-footer-section-wrapper {
    padding-top: 75px;
    height: 563px;
    background-size: cover;
  }
  .main-footer-description {
    font-size: 18px;
    max-width: 452px;
    margin-bottom: 28px;
  }
  .main-footer-btn {
    font-size: 16px;
  }
  .footer-inner {
    padding: 0 40px;
  }
  .document-list-container.partneers-list-box {
    max-width: 753px;
  }
}
@media screen and (max-width: 1000px) {
  .slider-item {
    height: 163px;
    margin: 0 3px;
  }
  .document-list-container.partneers-list-box {
    justify-content: center;
  }
  .vine-title-box {
    margin: 0 auto;
    height: auto;
    background-image: none;
    width: fit-content;
  }
  .vine-title-box {
    font-size: 58px;
    padding: 0;
    line-height: 52px;
  }
  .vine-title-box .second {
    margin-left: 134px;
  }
  .vine-title-box .four {
    margin-left: 169px;
  }
  .vine-title-box .five {
    margin-left: 40px;
  }
  .vine-title-box .third {
    margin-left: 134px;
  }
  .vine-content-wrapper {
    padding-top: 45px;
  }
  .vine-slider-box::after {
    display: none;
  }
  .vine-slider-box {
    width: 100%;
    height: 511px;
  }
  .vine-slider-item {
    width: 100%;
    height: 511px;
  }
  .vine-social-box {
    position: static;
    flex-direction: row;
    align-items: center;
    margin: 55px auto;
    gap: 100px;
  }
  .vine-you-tube {
    width: 39.78px;
    height: 34.65px;
  }
  .vine-instagram {
    width: 36px;
    height: 41px;
  }
  .vine-telegram {
    width: 36.72px;
    height: 34.65px;
  }
  .vine-social-box li a img {
    object-fit: contain;
  }
  .vine-desktop-style {
    flex-direction: column-reverse;
  }
  .vine-fb {
    width: 38.25px;
    height: 43.31px;
  }
  .vine-bottom-slider-box {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 150px !important;
  }
  .vine-bottom-slider-box .slick-dots {
    bottom: -50px;
  }
  .vine-bottom-left-image img {
    height: 100%;
  }
  .vine-right-box {
    margin-top: 30px;
    margin-bottom: 75px;
    max-width: 387px;
    height: 111.1px;
  }
  .vine-bottom-left-image {
    max-width: 100%;
    padding: 0 26px;
    height: 343px;
  }
  .worker-item-box {
    width: 100%;
   }
  .library-items-list {
    display: none;
  }
  .library-items-list.adaptive {
    display: flex;

  }
  .library-items-list.adaptive .library-item-content {
    position: relative;
  }
  .library-items-list.adaptive .library-item-content a {
    position: absolute;
    right: 0;
  }
  .library-items-list.adaptive .library-item-content a img {
    width: 31px;
    height: 34px;
  }
  .library-item-image {
    min-width: 236px;
    height: 178px;
  }
  .go-to-library {
    margin-top: 0;
  }
  .library-go-btn {
    margin-bottom: 105px;
  }
  .library-item-image img {
    min-width: 236px;
    height: 178px;
  }
  .library-items-list {
    margin: 17px auto 51px;
  }
  .footer-inner {
    padding: 60px 40px;
    flex-direction: column;
    height: auto;
  }
  .footer-routes-wrapper {
    margin: 30px 0;
  }
  .main-slider-wrapper .slick-prev.slick-arrow {
    transform: translate(-50%, 0);
    left: 37%;
    right: auto;
    top: auto;
    bottom: -50px;
  }
  .main-slider-wrapper .slick-next.slick-arrow {
    transform: translate(-50%,0);
    top: auto;
    right: 38%;
    bottom: -50px;
  }
  .pagination-wrapper {
    padding: 26px 0 33px;
  }
  .pagination-wrapper li {
    margin-right: 20px;
    font-size: 14px;
    line-height: 20px;
  }
  .pagination-wrapper li::after {
    right: -14px;
  }
  .faq-page .inner-page-container-bg{
    display: none;
  }
  .part-title {
    font-size: 18px;
    line-height: 21px;
  }
  .faq-sub-title {
    font-size: 16px;
    line-height: 19px;
    margin-top: 26px;
  }
  .faq-question-list-container {
    margin-top: 42px;
    flex-direction: column;
  }
  .faq-question-column {
    max-width: 543px;
    width: 100%;
  }
  .build-link-item {
    width: 224.22px;
    font-size: 16px;
    height: 70px;
    margin-top: 26px;
    margin-bottom: 20px;
    padding: 0 54px 0 14px;
  }
  .winemaking-card-item {
    width: 221.25px;
    height: 126.4px;
  }
  .video-item {
    width: 222.53px;
    margin-right: 10px !important;
  }
  .video-item-title {
    margin-top: 6px;
    font-size: 16px;
    line-height: 19px;
  }
  .video-item-description {
    font-size: 14px;
    margin-top: 13px;
    line-height: 130%;
  }
  .video-item:nth-child(3n + 3) {
    margin-right: 0 !important;
  }
  
  .video-item iframe {
    height: 164.16px;
  }
  .video-list-container {
    max-width: 688px;
  }
  .winemaking-description {
    font-size: 16px;
    line-height: 19px;
  }
  .contact-map-container iframe {
    height: 356px !important;
  }
  .contact-map-container {
    margin-top: 27px;
    margin-bottom: 60px;
  }
  .illion-map-container div iframe {
    height: 600px;
  }
  .header-navication-wrapper {
    display: none;
  }
  .burger-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 27px;
    width: 37px;
  }
  .burger-menu div {
    width: 100%;
    background: #000000;
    height: 3px;
  }
  .main-footer-section-wrapper {
    height: 450px;
  }
  .product-main-slider-wrapper {
    margin-right: 20px;
  }
  .product-main-content-wrapper::before {
    display: none;
  }
  .header-wrapper.desktop.sticky {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media screen and (max-width: 720px) {
  
  .land-main-title {
    font-size: 27px;
    line-height: 32px;
    padding-top: 23px;
  }
  .worker-item-box {
    flex-direction: column;
  }
  .worker-image {
    width: 250px;
    margin-left: 45px;
    height: auto;
  }
  .library-item-box {
    box-shadow: none;
    flex-direction: column;
  }
  .library-item-content {
    padding-bottom: 13px 36px 5px 0;
  }
  .library-item-image {
    min-width: 100%;
    width: 100%;
    height: 178px;
  }
  .library-item-image img {
    min-width: 100%;
    width: 100%;
    height: 178px;
  }
  .form-part-container {
    padding-left: 0;
  }
  .fields-list-container {
    margin-top: 15px;
  }
  .part-title {
    padding-left: 36px;
  }
  .form-button {
    width: 100%;
  }
  .field-item input {
    width: 100%;
  }
  .field-item textarea {
    width: 100%;
  }
  .links-container {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .build-link-item {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .title-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .custom-select {
    width: 100%;
    margin-top: 14px;
  }
  .video-item {
    width: 100%;
    margin-right: 0 !important;
  }
  .video-item-title {
    margin-top: 11px;
    font-size: 18px;
    line-height: 21px;
  }
  .video-item-description {
    font-size: 16px;
    line-height: 19px;
  }
  .winemaking-bg {
    display: none;
  }
  .winemaking-card-item {
    width: 100%;
    height: 126.4px;
    margin-top: 10px;
  }
  .winemaking-content-container {
    padding: 58px 0 0;
  }
  .winemaking-content-container img {
    margin-bottom: 25px;
  }
  .timplate-map-page .page-inner-wrapper {
    height: auto;
  }
  .winemaking-cards-container {
    flex-direction: column;
  }
  .timplate-image {
    margin-bottom: 0;
    height: 196px;
  }
  .inner-page-container-bg {
    display: none;
  }
  .timplate-page-title {
    font-size: 27px;
    line-height: 32px;
  }
  .document-main-title {
    font-size: 27px;
    line-height: 32px;
  }
  .document-main-section {
    padding: 0 15px;
  }
  .document-list-container {
    margin-top: 20px;
  }
  .document-title {
    max-width: 100%;
  }
  .adaptive-title {
    display: block;
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    padding-top: 23px;
    line-height: 32px;
  }
  .product-main-map-container {
    display: none;
  }
  .product-video-sub-title {
    padding-bottom: 80px;
  }
  .adaptive-product-map {
    display: block;
    padding-top: 38px;
  }
  .product-main-slider-wrapper {
    margin: 0 auto;
  }
  .product-main-inner {
    max-width: 100%;
    flex-direction: column;
    margin-top: 20px;
  }
  .product-main-content-title {
    display: none;
  }
  .product-main-slider-wrapper {
    max-width: 100%;
  }
  .product-main-section {
    padding: 23px 15px;
  }
  .product-item:nth-child(3n + 3) {
    margin-right: 20px;
  }
  .product-item:nth-child(2n + 2) {
    margin-right: 0;
  }
  .product-list-container {
    max-width: 473px;
  }
  .commercial-offers-sort-box {
    flex-direction: column;
    justify-content: center;
  }
  .commercial-offers-title {
    width: 100%;
    padding: 0 15px;
  }
  .inner-page-container {
    padding-bottom: 39px;
  }
  .adaptive-product-map a {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .header-wrapper {
    padding: 17px 15px 0;
  }
  .vine-title-box {
    font-size: 32px;
    line-height: 34px;
  }
  .vine-content-wrapper {
    padding-top: 31px;
  }
  .vine-title-box {
    padding: 0 20px
  }
  .vine-title-box .second {
    margin-left: 75px;
  }
  .vine-title-box .four {
    margin-left: 95px;
  }
  .vine-title-box .five {
    margin-left: 19px;
  }
  .vine-slider-item {
    height: 361.49px;
  }
  .vine-slider-box {
    height: 361.49px;
  }
  .vine-slider-item {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    padding: 36px 29px 57px;
  }
  .vine-social-box {
    margin: 15px auto;
    gap: 61px;
  }
  .vine-you-tube {
    width: 23.56px;
    height: 17.6px;
  }
  .vine-instagram {
    width: 21.33px;
    height: 20.83px;
  }
  .vine-social-box li a img {
    object-fit: fill;
  }
  .vine-bottom-slider-box {
    padding-top: 40px;
  }
  .vine-bottom-slider-box p {
    padding: 0 20px;
  }
  .vine-bottom-slider-box .slick-dots {
    bottom: -64px;
  }
  .vine-bottom-slider-box .slick-dots {
    width: calc(100% - 40px);
    left: 20px;
  }
  .vine-bottom-slider-box {
    margin-bottom: 95px !important;
  }
  .vine-bottom-left-image {
    padding: 0;
    height: 227px;
  }
  .vine-right-box {
    margin-top: 16px;
    margin-bottom: 55px;
  }
  .vine-fb {
    width: 22.66px;
    height: 22px;
  }
  .vine-telegram {
    width: 21.75px;
    height: 17.6px;
  }
  .vine-title-box .third {
    margin-left: 76px;
  }
  .partneers-item-box {
    padding: 10px;
  }
  .library-go-btn {
    margin-bottom: 32px;
  }
  .custom-select select {
    width: 100%;
  }
  .custom-select {
    width: 100%;
    padding: 0 15px;
  }
  .faq-question-container button {
    position: static;
    margin: 29px auto 0;
    display: block;
  }
  .faq-question-item {
    margin-bottom: 20px;
  }
  .product-list-container {
    padding: 0 15px;
  }
  .press-item  {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .owners-list .worker-item-box a {
    margin-left: 0;
  }
  .contact-phone, .contact-whatsapp {
    margin-right: 19px;
  }
  .contact-maps {
    margin-right: 21px;
  }
  .social-links-container li {
    margin-right: 0;
    line-height: 19px;
  }
  .contact-map-container iframe {
    height: 260px !important;
}
  .contact-email {
    margin-right: 16px;
  }
  .press-item-content-box {
    margin: 0;
  }
  .press-list-container {
    padding-top: 23px;
  } 
  .press-item-photo img {
    width: 100%;
    max-width: 355px;
    height: 251px;
  }
  
  .product-video-section {
    padding: 30px 15px;
  }
  .product-video-inner iframe {
    height: 260px;
  }
  .product-item {
    width: 100%;
    margin: 0 auto 30px !important;
  }
  .product-item img {
    width: 100% !important;
    height: 276.27px !important;
  }
  .card-links-wrapper a {
    width: 100% !important;
    margin: 0 auto 10px !important;
    height: 126px;
  }
  .card-links-wrapper {
    margin-top: 33px;
  }
  .land-main-section {
    padding: 0 15px;
  }
  .product-list-container {
    max-width: 496px;
  }

  .header-logo-container span {
    font-size: 22px;
  }
  .main-section::after {
    width: 224px;
    height: 251px;
  }
  .main-title-container {
    margin-top: 208px;
    margin-left: 0;
  }
  .main-title-container .title {
    font-size: 27px;
    line-height: 32px;
    text-align: center;
  }
  .all-map {
    width: 92%;
    margin: 0 auto;
  }
  
  .main-title-container .sub-title {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-top: 12px;
    padding: 0 30px;
  }
  .illion-map-container div iframe {
    height: 332px;
  }
  .main-title-btn {
    margin: 17px auto 0;
  }
  .main-section::before {
    height: 206px;
    bottom: 99px;
  }
  .main-slider-wrapper {
    padding: 0;
  }
  .slider-item {
    margin: 0 7.5px;
    height: 190px;
  }
  .eduard-image {
    margin: 0 15px;
    height: 323px;
  }
  .about-main-sub-title {
    padding: 0 6px;
    font-size: 16px;
    margin-bottom: 34px;
    margin-top: 10px;
    text-align: center;
  }
  .about-main-description {
    margin-top: 25px;
  }
  .header-wrapper.desktop.sticky {
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .suggest-section-wrapper {
    padding: 50px 15px 0;
  }
  .suggest-list-container {
    flex-direction: column;
  }
  .suggest-item {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
  }
  .main-footer-section-wrapper {
    height: auto;
    padding-bottom: 40px;
  }
  .main-footer-description {
    padding: 0 15px;
  }
  .footer-inner {
    padding: 30px 15px;
    align-items: flex-start;
  }
  .footer-routes-wrapper ul {
    flex-direction: column;
    gap: 10px;
  }
  
  .footer-logo span {
    display: none;
  }
  .winemaker-logo {
    max-width: 250px;
    height: 96.17912292480469px;
    width: 249px;
    left: 153px;
    top: 68.94522094726562px;
    border-radius: 0px;
  }
}
